<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/wimbrent/IdeaProjects/NewProject">
        <classes>
            <class name="PositiveTestCases.Category.Woman">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="PositiveTestCases.ForgottenPasswordTest">
                <methods>
                    <include name="successfullyRetrievePassword"/>
                </methods>
            </class>
            <class name="PositiveTestCases.LoginTest">
                <methods>
                    <include name="successfullySignIn"/>
                    <include name="successfullySignOut"/>
                </methods>
            </class>
            <class name="PositiveTestCases.RegisterTest">
                <methods>
                    <include name="successfullyRegister"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>